<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="style/common.css")
	block style
body
	.menu
		include menu
	.content
		block content
	.footer.clearFix
		include footer


	block script