ul
	li
		a(href="/") 主页
	li
		a(href="/hellojade") 你好jade
	li
		a(href="/extends") 设置样式和script
	li
		a(href="/mixins") 混合 mixins
	li
		a(href="/while") 循环语句
	li
		a(href="/data") 传递数据
	li
		a(href="/switch") 分支语句
	li
		a(href="/newslist") 新闻列表